/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/*--------------------social--------*/

.social-list {
    padding-left: 0;
    margin-top: 50px;
}

.social-list li {
    list-style: none;
    display: inline-block !important;
    margin-right: 30px;
}
@media (min-width: 768px) and (max-width: 1199px){
    h1{
        font-size: 45px;
    }
}
@media (max-width: 768px){
    h1{
        font-size: 28px;
    }
}